body {box-s
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.menu {
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
  text-transform: uppercase;
}

.studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-transform: uppercase;
}

.menu-elements {

background: #ffffff;
text-align:  center;
line-height: normal;
}

.email-telefon {
    background: #ffffff;
    color: #434455 ;
  }
  /* .menu-nav-index */
  .menu-nav-index{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
    .menu-nav-index:hover{
    color: #404bbf;
  }
  .menu-nav-index:focus{
    color: #404bbf;
  }
 /* .menu-nav-index */
 
.contacts {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
}
.social-links :hover {
  color: #404bbf;
}
.social-links :focus {
  color: #404bbf;
}

/* <!-- Section-1 --> */

.box-hero-image {
background: #2e2f42;
}

.hero-image {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height:  1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  }
.botton {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

}

.botton:hover {
  background-color: #404BBF;
  cursor: pointer;

}

.botton:focus {
  background-color: #404bbf;
  }

/* <!-- Section-2 --> */

.light-bg {
}

.advantages {
background-color: #F4F4FD;
}

.feature-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* <!-- Sektion-3 --> */
.section-sss {
  background-color: #F4F4FD;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.image {
  background-color: #FFFFFF;
}

.headteam {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.teamed {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

/* <!-- Sektion-4 --> */
.our-portfolio {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
}

.cart-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.cart-content {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* <!-- Footer --> */

.footer {
background: #2e2f42;
}

.footer-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.studio-footer {
  color: #f4f4fd;
}
